{{!-- <div style='background-image: url({{../public/images/cinema.jpg}})'> --}}


{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{!-- <img src="{{../public/images/cinema.jpg}}" alt="popcorn background" style="height:auto"/> --}}
<div class="index">
  <h1 class="mainh1">Cinema Ironhack</h1>

<form action="/movies" method="post">
  <button class="movieButton" type="submit">Check the movies!</button>
</form>


</div>
{{!-- </div> --}}